<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.adhoc.abtestdemo" >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name="com.example.adhoc.base.DemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.adhoc.activities.FlagTestActivity"
            android:label="@string/flagTest" >
        </activity>
        <activity
            android:name="com.example.adhoc.base.AdhocActivity"
            android:label="@string/title_activity_base" >
        </activity>
        <activity
            android:name="com.example.adhoc.activities.TrackingActivity"
            android:label="@string/title_activity_tracking" >
        </activity>
        <activity
            android:name="com.example.adhoc.activities.ClickAutoStatActivity"
            android:label="@string/title_activity_auto_tracking" >
        </activity>

        <provider
            android:name="com.adhoc.adhocsdk.AdhocProvider"
            android:authorities="com.adhoc.adhocsdk.AdhocProvider"
            android:exported="true">
        </provider>
    </application>

</manifest>
